body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e5e2e7;
  color: #751b99e1;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #ffffff;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #891dd1;
  font-size: 40px;
}

.feed {
  max-width: 600px;
  margin: 30px auto;
}

.post {
  background-color: hsla(240, 8%, 95%, 0.808);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #4c16a3;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  color: #a6a6e7;
}

.username {
  color: #a89cbb;
  margin-left: 5px;
}

.post-text {
  margin: 15px 0;
}

.post-actions {
  margin-bottom: 15px;
}

button {
  background-color: #702080;
  color: #343b64;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #392750;
}

.comments {
  border-top: 1px solid #9371e2;
  padding-top: 15px;
}

.comment {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
